
.card:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

.card-body:hover {
  color: rgb(233, 224, 224);
  background-color: rgb(0, 0, 0);
  transition: 0.5s;
}

.bg-body-accesso{
  background-color: #b9b9c0;
}
.bg-body-pagine{
  --tw-bg-opacity: 1;
  background-color: rgb(246 244 240 / var(--tw-bg-opacity));
}


.height_input{
  height: 50px;
}

.border_accesso{
  border-bottom: 1px solid black;
}

.dropdown-link{
  background-color: black;
  color: rgb(255, 255, 255);
}

.dropdown-link:hover{
  background-color: black;
  color: red;
}


footer .footerWrapper {
  border: solid 10px #38383f;
  padding: 0;
  border-left: 0;
  border-bottom: 0;
  border-top-right-radius: 25px;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 40px;
}

footer .footerNav {
  padding: 10px 0;
  clear: both;
  overflow: auto;
}

footer .static-links {
  float: right;
}

footer li, footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  text-align: -webkit-match-parent;
}

.text-brown-css{
  color: #741d03
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
  padding: 12px 16px;
  text-align: left;
}

thead {
  font-weight: bold;
  font-size: 14px;
  color: #c7c4c4;
  background-color: #333;
  border-bottom: 2px solid #ccc;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

.h-img{
  height: 250px;
}

.dim_imm_piloti{
  width: 150px;
  height: 200px;
}